# Backend
PORT=3000
NODE_ENV=development

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=webchat
DB_USER=postgres
DB_PASSWORD=password

# JWT
JWT_ALGORITHM=ES256
JWT_EXPIRES_IN=3600
JWT_PRIVATE_KEY_PATH=server/src/tests/jwt.keys/private-es256.pem
JWT_PUBLIC_KEY_PATH=server/src/tests/jwt.keys/public-es256.pem

# Frontend
VITE_API_URL=http://localhost:3000
